.profile__edit-button {
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    background-color: #000;
    background-image: url(../../../images/edit-pencile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px;
    margin: 0 0 0 17px;
    transition: .1s ease-in-out;
}

.profile__edit-button:hover {
    background-color: rgb(255, 255, 255, .3);
}