.popup__close {
    width: 40.7px;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    transform: rotate(45deg);
    transition: 1s ease-in-out;
  }
  
.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .popup__close {
    width: 26px;
    top: -60px;
    right: 0px;
  }
}