.card__like {
    width: 20px;
    min-height: 18px;
    background-image: url(../../../images/like-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px 0 30px;
}