.card {
    max-width: 282px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
    transition: 1s ease-in-out;
=======
>>>>>>> ace410d24dd434d85e51f301d245005af443f41f
}

@media screen and (max-width: 767px) {
    .card {
        margin: 0 auto;
    }
}